fastapi
uvicorn
python-multipart
python-docx
PyPDF2
reportlab
langchain
google-generativeai
langchain-google-genai
python-dotenv
pydantic
typing-extensions
python-jose
passlib
bcrypt
streamlit